src/main/mule/cicd-githab-timezone.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="9996c24a-b9eb-4f62-9670-b7dd6e830f54" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" port="80" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="77ea9154-c61c-45ac-bd66-22293233803a" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="cicd-githab-timezoneFlow" doc:id="d4198617-e03e-45c9-b066-4c8346ad08da" >
		<http:listener doc:name="Listener" doc:id="9e3cfd2d-c383-4b7b-a9be-166ee1e37c1e" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="e998d048-d604-4464-abe8-f94118e41f6a" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:body ><![CDATA[#[payload
//Note:- postman URL  http://localhost:8081/timezone/Africa/Tripoli]]]></http:body>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="04b3ff62-9cbe-4b36-b03e-c6147acd1ff1" message="payload"/>
	</flow>
</mule>
